<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xmzt.utils">
    <application>
        <provider
            android:name="com.xmzt.utils.AppUtils$FileProvider4Util"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true"
            android:multiprocess="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/util_xmzt_provider_paths" />
        </provider>
    </application>
</manifest>